.contact-section {
  background-image: linear-gradient(rgba(29,29,29,0.8),rgba(29,29,29,0.8)),url(../img/background-contact.jpg);
  /*background-image: url(../img/background.jpg);*/
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 20px;
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-section h1 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
}

.contact-section h2 {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-family: 'Barlow', sans-serif;
}

.contact {
  margin-bottom: 50px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.contact-info .left-side {
  width: 50%;
  padding: 30px;
  background-color: #7f0000;
  box-shadow: 2px 2px 5px white;
  color: white;
  border-radius: 14px;
  margin-right: 50px;
  height: fit-content;/*A altura vai ser baseado em seu conteudo*/
}

.contact-info .left-side div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-info .left-side div i {
  font-size: 24px;
  margin-right: 20px;
}

.contact-info .left-side p {
  font-size: 17px;
}

.contact-info .rigth-side {
  width: 50%;
}

.contact-info .rigth-side input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 47px;
  padding: 15px;
  border-radius: 9px;
  transition: 0.3s;
  border: 1px solid black;
  color: #212121;
  font-weight: lighter;
}

.contact-info .rigth-side input:focus,
.contact-info .rigth-side textarea:focus {
  border-color: #7f0000;
}

.contact-info .rigth-side textarea {
  border: 2px solid #7f0000;
  color: #212121;
  border-radius: 9px;
  margin-bottom: 10px;
  padding: 15px;
  width: 70%;
  transition: 0.3s;
  resize: none; /*Tira a opção da caixa de mensagem*/
}

.btn {
  background-color: #7f0000;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3;
  box-shadow: 2px 2px 5px white;
}

.btn:hover {
  background-color: white;
  color: #7f0000;
}

/*MAPA*/
 iframe{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}