@media (max-width: 1200px) {
  .main {
    display: block;
  }

  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12%;
  }

  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
  }

  .nav-auto, .nav-manual {
    margin-top: 78%;
  }

  .contact-info form {
    width: 100%;
  }

  .contact-info .rigth-side,
  .contact-info .left-side {
    width: 100%;
  }
}

@media (max-width: 768px) {

  html {
    font-size: 80%;
  }
  
  .cardapio-container {
    font-size: 150%;
  }

  .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
  justify-content: center;
  }

  .content .list-menu {
    display: none;
  }

  .sobre-nos p {
    margin-bottom: 3rem;
    width: 80%;
  }

  .one,
  .two,
  .three {
    width: 80%;
    height: 2px;
    background-color: white;
    margin: 6px auto;
    transition-duration: 0.5s;
  }

  .menu-toggle {
    width: 30px;
    height: 30px;
  }

  .content.on {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 31, 30, 0.8);
    z-index: 10;
    align-items: center;
  }

  .content.on .logo {
    display: none;
  }

  .content.on .menu-toggle {
    position: absolute;
    right: 40px;
    top: 20px;
  }

  .content.on .list-menu {
    display: block;
  }

  .content.on .list-menu li {
    display: flex;
    justify-content: center;
  }

  .content.on .list-menu li a {
    font-size: 2rem;
  }

  .content.on .menu-toggle .two {
    opacity: 0;
  }

  .content.on .menu-toggle .one {
    transform: rotate(45deg) translate(5px, -8px);
  }

  .content.on .menu-toggle .three {
    transform: rotate(-45deg) translate(20px, -6px);
  }

  .cardapio h2 {
    font-size: 5.5rem;
  }

  .itens-cardapio {
    grid-template-columns: repeat(2, minmax(50%, 350px));
  }

  .itens-cardapio .info {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .itens-cardapio .info h3 {
    font-size: 3rem;
    text-align: center;
  }

  .itens-cardapio .info h4 {
    font-size: 2rem;
  }

  .contatos-secao {
    display: block;
    text-align: center;
    font-size: 2rem;
  }

  .contatos-secao div {
    margin: 1rem;
  }

  .information div  {
    flex-wrap: wrap;
  }

  .contact .container {
    flex-direction: column-reverse;
   }

  .contact-info .rigth-side,
  .contact-info .left-side {
    width: 100%;
  }

}

@media (max-width: 652px) {
  .conteudo-principal h1 {
    width: 500px;
    text-align: center;
    font-size: 3rem;
  }

  .conteudo-principal h2 {
    font-size: 1.5rem;
    text-align: justify;
  }

  
  .cardapio h2 {
    font-size: 3rem;
  }

  section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow-x: hidden;
  }

  .nav-auto, .nav-manual {
    margin-top: 96%;
    margin-left: 10%;
  }


  .itens-cardapio {
    grid-template-columns: repeat(auto-fit, minmax(50px, 350px));
  }

  .contatos h3 {
    font-size: 3rem;
  }

  .contatos-secao {
    width: 300px;
    font-size: 1.5rem;
  }

  body {
    background-color: red;
  }

  .contact .container .contact-info{
    flex-wrap: wrap;
  }

}

@media (max-width: 500px) {
  body {
    background-color: green;
  }
  
  .btn {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
  }

  .btn button {
    font-size: 1.5rem;
    width: 100%;
  }

  .conteudo-principal h1{
    width: 350px;
    font-size: 3rem;
    text-align: center;
  }

  .conteudo-principal h2{
    width: 200px;
    font-size: 1.6rem;
    text-align: center;
    text-transform: capitalize;
    line-height: 2.5rem;
  }

  .contact-info .rigth-side,
  .contact-info .left-side {
    width: 100%;
  }
}

@media (max-width: 395px) {
  .contentsobre p {
    width: 250px;
    font-size: 2rem;
  }

  .itens-cardapio {
    width: 50%;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(50px, 350px));
  }

  .itens-cardapio img {
    width: 100%;
    height: auto;
  }

  .itens-cardapio div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .itens-cardapio .info {
    width: 100%;
    height: 150px;
    
  }

  .itens-cardapio .info h3 {
    text-align: center;
    font-size: 1rem;
  }

  .itens-cardapio .info h4 {
    display: flex;
    text-align: center;
    margin-top: 25px;
    font-size: 1rem;
    grid-template-columns: 93px 150px;
  }

  footer {
    display: block;
    flex-direction: column;
    text-align: center;
  }

  .contact-info .rigth-side,
  .contact-info .left-side {
    width: 100%;
  }
}