@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
}

html {
  width: 100vw;
  height: 100vh;
  font-size: 65,5%;
  overflow-x: hidden;
  background-color: #171718;
}

.content {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 50px;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px;
  height: 100px;
}

.content .list-menu {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .list-menu li a {
  padding: 12px;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 200ms ease-in;
  font-family: 'Barlow', sans-serif;
}

.nav-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-facebook a:hover {
  background: #7C97C1;
  border-radius: 20px; 
  transition: all 500ms ease-in;

}

.nav-instagram a:hover {
  background: #F285A1; 
  border-radius: 20px; 
  transition: all 500ms ease-in;
}

.nav-whatsapp a:hover {
  background: #70D68E;
  border-radius: 20px; 
  transition: all 500ms ease-in;
}


/*First Section*/

.first-section {
  background-image: linear-gradient(rgba(29,29,29,0.8),rgba(29,29,29,0.8)),url(../img/background.jpg);
  /*background-image: url(../img/background.jpg);*/
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 20px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-section .conteudo-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-section h1 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
}

.first-section h2 {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-family: 'Barlow', sans-serif;
}

.btn button {
  width: 230px;
  height: 60px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ff3616;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 5rem;
  transition: all 400ms ease-in;
  font-family: 'Barlow', sans-serif;
}

.btn button a {
  color: white;
  font-weight: bold;
}

.btn button a:hover {
  color: #ff3616;
}

.btn button:hover {
  border: 1px solid #ff3616;
  background-color: transparent;
}

.btn {
  display: block;
  justify-content: center;
  align-items: center;
}

/*Sobre nos */

.sobre-nos {
  background-color: #1f1e1f;
  width: 100%;
  padding-bottom: 5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow', sans-serif;
}

.main {
  display: flex;
  justify-content: space-between;
}

.contentsobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentsobre h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.contentsobre p {
  width: 80%;
  height: 100%;
  text-align: left;
  line-height: 2.5rem;
  font-size: 2rem;
}

/*Conheça Grupo - Footer*/
/*.contatos {
  font-family: 'Barlow', sans-serif;
  width: 100vw;
  background-color: #1f1e1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: white;
  padding-bottom: 4rem;
}

.contatos h3 {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.contatos-secao {
  width: 650px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.contatos-secao i {
  margin-right: 1rem;
}

.contatos-secao div {
  cursor: pointer;
  transition: all 200ms ease-in;
}

.contatos .contatos-secao .item-instagram,
.item-facebook,
.item-whastapp, a {
  color: white;
  padding: 6px;
}

.item-facebook a:hover {
  background: #7C97C1;
  border-radius: 40px; 
  transition: all 500ms ease-in;
}

.item-instagram a:hover {
  background: #F285A1; 
  border-radius: 40px; 
  transition: all 500ms ease-in;
}

.item-whatsapp a:hover {
  background: #70D68E;
  border-radius: 40px; 
  transition: all 500ms ease-in;
}*/

/*LOGOS DO GRUPO SCENARIUM*/
.container-group {
  background-color: black;
}
.container-group h3 {
  color: white;
  font-size: 2.8rem;
  text-align: center;
}

.container-group p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container .card-item {
  background-color: #7f0000;
  margin: 20px;
  border-radius: 14px;
  text-align: center;
  width: 350px;
  transition: 0.3s;
  line-height: 1.2;
}

.container .card-item:hover {
  margin-top: -2px;
  border: 1px solid #ff3616;
  background-color: transparent;
}

.container .card-item img {
  border-radius: 10px;
  width: 120px;
  height: 80px;
  display: block;
  margin: 10px auto;
}

.container .card-item .nome-user {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  transition: 0.3;
}

.container .card-item .depoimento-user {
  font-size: 15px;
  padding: 0 15px;
  transition: 0.3s;
  text-align: justify;
}

.container .card-item button {
  cursor: pointer;
  font-size: .9rem;
  margin: 0 auto;
  width: 50%;
  border-radius: 20px;
  padding: 15px;
}

/*Footer*/
footer {
  height: 50px;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-size: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}